# NMF CM devices
/dev/cm_channel           0777   media      system
/dev/cm_control           0777   media      system
/dev/cm_sia_trace         0444   media      system
/dev/cm_sva_trace         0444   media      system

# XTI trace device
/dev/stm                  0777   media      system

# Modem driver - CS-Call
/dev/modemaudio           0777   audio      audio

# Camera and flash devices
/dev/mmio_camera          0777   media      system
/dev/camera_flash         0777   media      system

# Sensor i2c
/dev/i2c-2                0777   media      system
/dev/i2c-4                0777   system     system

# PWR QOS devices
/dev/ape_opp              0777   media     system
/dev/ddr_opp              0777   media     system

# hwmem driver
/dev/hwmem                0666   media      system

# Mali 3D IP
/dev/mali                 0666   system     graphics

# B2R2 device
/dev/b2r2_blt             0666   system     graphics

# Overlay device
/dev/disp0                0666   system     graphics

# Overlay device
/dev/comp0                0666   system     graphics

# AT USB device - used by ATC
/dev/ttyGS0               0060   root       radio

# Permission for dun
/dev/dun                  0777   system     system

# Modem storage pipe
/dev/rpc                  0600   radio      radio

# wlan
/dev/rfkill               0777   root       wifi

# Trusted Eexecution Engine
/dev/tee                  0666   root       system

/dev/block/mmcblk0p19     0777   system     system

# Sensors
/dev/mpu                  0777   system     system
/dev/mpuirq               0777   system     system
/dev/timerirq             0777   system     system

/dev/block/mmcblk0p19     0777   system     system
/debug/nmf-cm           0777   system     media
